/* 1. Bug fixes and browser rendering hacks
   ========================================================== */

/* Override default box model. */
* {
  box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: boder-box;
  -webkit-box-sizing: border-box;
}
/* Prevent iOS text size adjust after orientation change, without disabling user zoom. */
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
/* Improve readability when focused and mouse hovered on links in all browsers. */
a:active,
a:hover {
  outline: 0;
}

/* 2. Global styling
   ========================================================== */

body {
  height: 2000px;
  margin: 60px 0 0 0;
  padding: 0;
  text-rendering: optimizeLegibility;
}
h1,h2,h4,h5 {
  font-family: 'Montserrat';
}
h3,p {
  font-family: 'Proxima Nova';
  font-weight: 400;
}
/* "Super titles": article titles, project titles. */
h1 {
  font-size: 42px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #3c3c3c;
}
/* "Titles": user names, space names, channel names, project card titles. */
h2 { 
  font-size: 1.8vw;
  font-weight: 400;
  letter-spacing: 0.04vw;
  line-height: 2vw;
  color: #5e5e5e;
}
/* "Taglines": user bios, space taglines, project taglines. */
h3 {
  font-size: 1.6vw;
  letter-spacing: 0.02vw;
  line-height: 1.8vw;
  color: #7a797a;
}
/* "Subtitles": sub-navigation, collection cards (nr),  */
h4 {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.1px;
  color: #5e5e5e;
}
/* "Body": articles, */
p {
  font-size: 20px;
}
h5 {
  font-size: 1vw;
  font-weight: 400;
  letter-spacing: 0.04vw;
}





/* Initial CSS styling. To be seen as starting point for inline styling of React components. 
   ========================================================================================== */
  
  /*  ------HEADER------ */
  header {
    height: 60px;
    width: 100%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    background-color: #F9FCFD; 
  }
  .logo {
    width: 42px;
    height: auto;
    margin-top: 8px;
    margin-left: 20px;
    opacity: 0.8;
  }
  .logo:hover {
    cursor: pointer;
    opacity: 0.9;
  }
  .ion-ios7-search-strong {
    font-size: 21px;
    color: #ADADAD;
    border: 1px solid #ADADAD;
    border-radius: 100%;
    width: 34px;
    height: 34px;
    line-height: 38px;
    text-align: center;
    float: right;
    margin-right: 10px;
    margin-top: 11px;
  }
  .ion-ios7-search-strong:hover {
    color: #0274B8;
    border: 1px solid #0274B8;
    cursor: pointer;
  }
  .ion-android-add {
    font-size: 14px;
    color: #ADADAD;
    border: 1px solid #ADADAD;
    border-radius: 100%;
    width: 34px;
    height: 34px;
    line-height: 36px;
    text-align: center;
    float: right;
    margin-right: 10px;
    margin-top: 11px;
  }
  .ion-android-add:hover {
    color: #0274B8;
    border: 1px solid #0274B8;
    cursor: pointer;
  }
  .profile-pic--thumb {
    width: 38px;
    height: 38px;
    float: right;
    margin-top: 11px;
    margin-right: 20px;
    opacity: 0.8;
  }
  .profile-pic--thumb:hover {
    opacity: 1;
    cursor: pointer;
  }
  .profile-pic--large {
    width: 14vw;
    height: auto;
    display: block;
    margin: 0 auto;
    border: 0.4vw solid #fff;
    border-radius: 100%;
  }

  /*----- USER PROFILE  ------ */
  .user-profile__hero {
    width: 100vw;
    height: 15vw;
    display: block;
    position: relative;
    background-color: #ededed;
  }

  .user-profile__overview {
    position: relative;
    margin: -7vw auto;
  }

  .user-profile__overview h2 {
    text-align: center;
    color: #5e5e5e;
    margin-top: -0.1vw;
  }

  .user-profile__overview h5 {
    text-align: center;
    color: #7a797a;
    margin-top: -1.3vw;
  }

  .user-profile__overview h3 {
    text-align: center;
    color: #7a797a;
    margin-top: -0.75vw;
    letter-spacing: 0.02vw;
  }

  .follow-button {
    width: 12.5vw;
    height: 3.2vw;
    border: 0.2vw solid #0274bb;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    color: #0274bb;
    transition: background-color 0.2s ease-in-out;

  }

  .follow-button h4 {
    font-family: 'Montserrat';
    font-size: 1.25vw;
    font-weight: 400;
    text-align: center;
    margin-top: 0.7vw;
    letter-spacing: 0.5px;
    color: #0274B8;
  }

  .follow-button:hover h4 {
    color: white;
  }

  .follow-button:hover {
    background-color: #0274bb;
    cursor: pointer;
  }

  .user-profile_overview-div {
    width: 42vw;
    margin: 0px auto;
  }

  .user-profile__summary {
    list-style: none;
    display: inline-block;
    padding-left: 0px;
  }

  .user-profile__summary h6 {
    font-family: 'Proxima Nova';
    font-weight: 400;
    font-size: 2.6vw;
    color: #7a797a;
  }

  .user-profile__summary h4 {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 1.4vw;
    color: #7a797a;
    margin-top: -5vw;
    margin-bottom: 10px;
    text-align: center;
  }

  .user-profile__summary h4:hover{
    color: #696869;
    cursor: pointer;
  }

  .user-profile__summary li {
    float: left;
    width: 8vw;
    text-align: center;
    margin-right: 3vw;
    margin-left: 3vw;
    border-bottom: solid 1px #0274B8;
    margin-top: -20px;
  }

  /* ----- PROJECTS-------*/
  .projects-wrapper {
    position:relative;    
    top: 14vw;
    width: 97vw;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2%;
    padding-right: 2%;
    clear:both;
    font-family: 'Proxima Nova';
  }
  .project-card {
    display: inline-block;
    width: 28vw;
    height: 28vw;
    margin-left:1vw;
    margin-right:1vw;
    border-radius: 7px;
    box-shadow: 0 3px 3px rgba(0,0,0,0.15);
    overflow: hidden;
  }
  .project-img {
    max-width: 110%;
    height: 20vw;
    overflow: hidden;
  }
  .project-info {
    display: block;
    position: relative;
    clear: both;
    height: 3.3vw;
    width: 100%;
    padding-right: 4%;
    transition: top 0.5s ease-in-out;
    text-align: right;
    /*background-color: #cc0000;*/
  }

  .project-overview {
    display: block;
    position: relative;
    width: 100%;
    margin-left: 3%;
    margin-right: 3%;
    height: 5vw;
    border-bottom: 1px solid #ededed;
    margin: 0 auto;
  }

  .project-overview-text {
    width: 82%;
    float: right;
    display: block;
    height: 5vw;
    /*background-color: #ededed;*/
  }

  .project-overview h4 {
    line-height: 0;
    font-size: 1vw;
    margin-top: 1.5vw;
  }
  .project-overview h5 {
    line-height: 0;
    font-family: 'Proxima Nova';
    font-size: 1.1vw;
    margin-top: 1.7vw;
    margin-left: 0.1vw;
    text-align: left;
    color: #7a797a;
    font-weight: 400;
  }

  .project-profile-pic {
    width: 3.5vw;
    margin-top: 0.5vw;
    margin-left: 1vw;
  }

  .show-more h5 {
    text-align: center;
    position: relative;
    top: 15vw;
    color: #7a797a;
  }

  .show-more h5:hover {
    color: #5e5e5e;
    cursor: pointer;
  }


  /*  -------CHAT------- */
  ul {
    list-style: none;
    padding:0;
    margin:0;
  }

  li {
    display: block;
    width: 30px;
  }

  .chat-footer {
    clear:both;
    position: fixed;
    bottom: 0px;
    height: 32px;
    width: 100vw;
    font-family: 'Proxima Nova';
    background-color: #f9fcfd;
    transition: top 0.5s ease-in-out;
    box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.1);
  }
  .chat-levels {
    padding-left: 1%%;
    padding-right: 0;
    margin:0;
    width:11vw;
  }

  .chat-levels ul {
    width:97%;
    margin-left: 1%;
    margin-right: 1%;
  }
  .chat-levels li {
    width: 30%;
    display: inline-block;
    cursor: pointer;
    padding-top: 6px;
    padding-bottom:5px;
    height: 32px;
    color: #696869;
    font-weight: bold;
  }
   .chat-levels h3 {
    float:left;
    font-size: 1.9vw;
    font-weight: bold;
    color: #7A797A;
    z-index: 100;
    margin-top: 0px;
    margin:0;
  }


  .chat-levels li:nth-child(3) {
    box-shadow: 1px 0 3px rgba(0, 0, 0, 0.1);
    padding-right: 8%;
  }

    .chat-levels li:nth-child(2) {
    padding-left: 2%;
  }

 .chat-level-notification {
    color: #fff;
    width:11px;
    float:left;
    font-size: 0.8vw;
    font-weight: 400;
    padding-left: 7%;
    border-radius:10px;
    margin-left: -2px;
    background-color: #e74c3c;
    top:0;
    z-index: 1000;
  }



  .chat-tab {
    position: fixed;
    height: 34px;
    bottom: 0;
    left: 11vw;
    display: inline-block;
    float:right;
    width:92vw;
    position-bottom: 0;
    z-index: 100;

  }

  .chat-tab li {
    display: inline-block;
    cursor: pointer;
    width:19%;
    color: #7A797A;
    font-weight: bold;
    box-shadow: 1px 0 3px rgba(0, 0, 0, 0.1);
    border-top-right-radius: 8px;
  }

  .chat-tab h4 {
    float:left;
    font-size: 1.1vw;
    font-weight: 400;
    margin-top: 11px;
    padding-left: 8%;
    letter-spacing: 0.5px;
    color: #696869;
  }

  .tab-notification {
    position: absolute;
    color: #fff;
    display: inline-block;
    width:12px;
    float:left;
    font-size: 0.8vw;
    font-weight: 400;
    margin-top: 14px;
    margin-left: 0.5%;
    padding-left: 3px;
    border-radius: 3px;
    background-color: #e74c3c;
  }

  .close-tab {
    font-size: 14px;
    display: inline-block;
    width: 13px;
    border-radius: 9px;
    margin-right: 5%;
    margin-top: 12px;
    padding-left:3px;
    font-weight: 400;
    float:right;
    color: #696869;
    opacity: 0.7;
  }

  .close-tab:hover {
    color:#343434;
    opacity: 1;
    font-weight: bold;
    transition: opacity 0.2s ease-in-out;
  }

/*-------COLLECTIONS--------------- */

  .collections-wrapper {
    position:relative;    
    top: 18vw;
    width: 97vw;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2%;
    padding-right: 2%;
    clear:both;
    font-family: 'Proxima Nova';
  }

  .collection-featured {
    display: inline-block;
    width: 28vw;
    height: 30vw;
    margin-left: 1vw;
    margin-right: 1vw;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0 3px 3px rgba(0,0,0,0.15);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
  }

  .collection-featured:hover {
    box-shadow: 0 1px 3px rgba(100, 80, 60);
    transition: box-shadow 0.5s ease-in-out;
  }
  .featured-img-collection {
    width: 100%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    height: 17vw;
    overflow: hidden;
  }

  .featured-img-collection img, .project-img img {
    width:120%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
    clip: 0px 0px 30px 10px;
  }

  .featured-img-collection h3 {
    position:absolute;
    color: #fff;
    font-size: 2.3vw;
    margin-top: 7vw;
    width:15%;
    margin-left: 6.5%;
    margin-right: 6.5%;
    letter-spacing: 1px;
    text-align: center;
  }

  .featured-img-collection p {
    position:absolute;
    color: #fff;
    font-size: 2px;
    font-weight: 400;
    z-index: 1000;
    margin-top: 110px;
    width:14%;
    margin-left: 6.5%;
    margin-right: 6.5%;
    text-align: center;
  }

  .featured-thumbnail-collection ul {
    border-top: 1px solid #ededed;
  }
  .featured-thumbnail-collection li {
    margin-top: 2px;
    width: 49.5%;
    display: inline-block;
    height: 10vw;
    overflow: hidden;
  }

 .featured-thumbnail-collection li:last-child{
    float: right;
  }

 .featured-thumbnail-collection li img {
    width: 115%;
  }

 .collection-info {
    display: block;
    position: relative;
    clear: both;
    height: 3.3vw;
    width: 100%;
    padding-right: 4%;
    transition: top 0.5s ease-in-out;
    text-align: right;
    margin-top: -0.3vw;
 }

  .collection-info i, .collection-info p, .project-info i, .project-info p {
        display: inline-block;
        color: #696869;
        margin-top: 0.8vw;
        font-size: 1.3vw;
  }

  .collection-info i, .project-info i {
    margin-left: 1vw;
  }

   .collection-info p, .project-info i {
    margin-right: 0.4vw;
   }

   .collection-show-more h5 {
    text-align: center;
    position: relative;
    top: 19vw;
    color: #7a797a;
  }

  .collection-show-more h5:hover {
    color: #5e5e5e;
    cursor: pointer;
  }

  .stories-row-first {
    position: relative;
    margin-top: 280px;
    clear:both;
    padding-top: 20px;
    display: block;
    padding-bottom: 30px;
    background-color: rgba(255, 255, 255, 0.5);
    background-size: 100%;
   }

  .stories-row-first::after {
    content: "";
    position: absolute;
    top: 0;
    left:0;
    bottom: 0;
    right: 0;
    z-index:-1;
    background: url(http://static1.squarespace.com/static/52d04503e4b03e8b46ffc511/t/539713cbe4b022c47e60e742/1402409933710/form1_plus_3d_printer);
    background-size: 100%;
    opacity: 0.7;
   }

  .stories-row-first:hover {
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 0.3s ease-in-out;
   }

  .stories-row-second {
    clear:both;
    padding-top: 30px;
    display: block;
    position: relative;
    padding-bottom: 30px;
    background-color: rgba(255, 255, 255, 0.5);
    background-size: 100%;
   }

  .stories-row-second::after {
    content: "";
    position: absolute;
    top: 0;
    left:0;
    bottom: 0;
    right: 0;
    z-index:-1;
    background: url(http://makezineblog.files.wordpress.com/2013/07/sip06-robohand-white.jpg) no-repeat;
    background-size: 100%;
    opacity: 0.7;
   }

 .stories-row-second:hover {
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 0.3s ease-in-out;
   }

  .stories-row-third {
    clear:both;
    padding-top: 30px;
    display: block;
    position: relative;
    padding-bottom: 30px;
    background-color: rgba(255, 255, 255, 0.4);
    background-size: 100%;
   }

 .stories-row-third::after {
    content: "";
    position: absolute;
    top: 0;
    left:0;
    bottom: 0;
    right: 0;
    z-index:-1;
    background: url(http://replicatorinc.com/blog/wp-content/uploads/2008/10/a_ring_made_for_3d_wax.jpg) no-repeat;
    background-size: 100%;
    opacity: 0.7;
   }

 .stories-row-third:hover {
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 0.3s ease-in-out;
   }
   .stories-wrapper {
    position:relative;    
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Proxima Nova';
    margin-top: 100px;
   }

  .stories-featured {
    text-align: center;
  }


  .stories-featured h1 {
    font-weight: bold;
    font-size: 3.2vw;
    letter-spacing: 1px;
    font-family: 'Montserrat';
    line-height: 1.2;
    color: #3c3c3c;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
   }

  .stories-featured h2 {
    font-weight: 200;
    font-size: 2vw;
    letter-spacing: 0.5px;
    font-family: 'Montserrat';
    line-height: 1.4;
    color: #3c3c3c;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);

   }

   .stories-featured p {
    display: inline-block;
    margin-top: 0;
    color: #3c3c3c;
    font-weight: 400;
    text-align: left;
    line-height: 2;
   }

   .stories-featured i {
    margin-right: 8px;
    font-size: 16px;
   }

    br {
      height:20px;
    }

    .stories-content {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }

    .card-tags {
      position: absolute;
      width: 30%;
      margin-top: 15px;
      z-index: 100;
    }

    .card-tags ul {
      float: left;
    }

    .card-tags li {
      float:right;
      top: inherit;
      height:26px;
      font-family: 'Proxima Nova';
      color: #fff;
      font-size: 1vw;
      padding-left: 5px;
      padding-top: 6px;
      position: relative;
      clear:both;
      width:100px;
    }

    .card-tags li:first-child {
      position: relative;
      margin-left: -8px;
      clear:both;
      background-color: #ADADAD;
      border-left: 8px solid #0274B8;
    }

    .card-tags li:first-child:hover {
      background-color: #0274B8;
      transition: background-color 0.1s ease-in-out;
      color: #fff;
    }

    .card-tags li:nth-child(2) {
      float: left;
      width:80px;
      padding: 0;
      margin-left: -5px;
      border-left: 5px solid #4d9dcd;
    }

     .card-tags li:nth-child(3) {
      margin-left: -3px;
      float: left;
      padding: 0;
      width:80px;
      border-left: 3px solid #b3d5e9;
    }
