/* 1. Bug fixes and browser rendering hacks
   ========================================================== */

/* Override default box model. */
* {
  box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: boder-box;
  -webkit-box-sizing: border-box;
}
/* Prevent iOS text size adjust after orientation change, without disabling user zoom. */
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
/* Improve readability when focused and mouse hovered on links in all browsers. */
a:active,
a:hover {
  outline: 0;
}

/* 2. Global styling
   ========================================================== */

body {
  height: 2000px;
  margin: 60px 0 0 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  font-size: 12px;
}
h1,h2,h4 {
  font-family: 'Montserrat';
}
h3,p {
  font-family: 'Proxima Nova';
}
/* "Super titles": article titles, project titles. */
h1 {
  font-size: 42px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #3c3c3c;
}
/* "Titles": user names, space names, channel names, project card titles. */
h2 { 
  font-size: 26px;
  font-weight: 400;
  letter-spacing: 0.5px;
  color: #5e5e5e;
}
/* "Taglines": user bios, space taglines, project taglines. */
h3 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.2px;
  color: #7a797a;
}
/* "Subtitles": sub-navigation, collection cards (nr),  */
h4 {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.1px;
  color: #5e5e5e;
}
p {
  font-size: 20px;
}










  h1 {
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: 400;
    color: #595859;
  }
  
  header {
    height: 60px;
    width: 100%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    background-color: #F9FCFD; 
  }

  .ion-ios7-search-strong {
    font-size: 21px;
    color: #ADADAD;
    border: 1px solid #ADADAD;
    border-radius: 100%;
    width: 34px;
    height: 34px;
    line-height: 38px;
    text-align: center;
    float: right;
    margin-right: 10px;
    margin-top: 11px;
  }

  .ion-ios7-search-strong:hover {
    color: #0274B8;
    border: 1px solid #0274B8;
    cursor: pointer;
  }

  .ion-android-add {
    font-size: 14px;
    color: #ADADAD;
    border: 1px solid #ADADAD;
    border-radius: 100%;
    width: 34px;
    height: 34px;
    line-height: 36px;
    text-align: center;
    float: right;
    margin-right: 10px;
    margin-top: 11px;
  }

  .ion-android-add:hover {
    color: #0274B8;
    border: 1px solid #0274B8;
    cursor: pointer;
  }

  .profile-pic {
    width: 38px;
    height: 38px;
    float: right;
    margin-top: 11px;
    margin-right: 20px;
    opacity: 0.8;
  }
  .profile-pic:hover {
    opacity: 1;
    cursor: pointer;
  }
  .profile-pic--large {
    width: 170px;
    height: auto;
    display: block;
    margin: 0 auto;
    border: 4px solid #fff;
    border-radius: 100%;
  }
  .logo {
    width: 42px;
    height: auto;
    margin-top: 8px;
    margin-left: 20px;
    opacity: 0.8;
  }

  .logo:hover {
    cursor: pointer;
    opacity: 0.9;
  }

  .user-profile__hero {
    width: 100%;
    height: 190px;
    display: block;
    position: relative;
    background-color: #ededed;
  }

  .user-profile__info {
    position: relative;
    margin: -87px auto;
  }

  .user-profile__info h2 {
    text-align: center;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 22px;
    color: #5e5e5e;
    margin-top: 1px;
    letter-spacing: 0.1px;
  }

  .user-profile__info h5 {
    text-align: center;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 12px;
    color: #7a797a;
    margin-top: -18px;
    letter-spacing: 0.4px;
  }

  .user-profile__info h3 {
    text-align: center;
    font-family: 'Proxima Nova';
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #7a797a;
    margin-top: -8px;
    letter-spacing: 0.2px;
  }

  .follow-button {
    width: 160px;
    height: 40px;
    border: 2px solid #0274bb;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    color: #0274bb;
    transition: background-color 0.2s ease-in-out;
    transition: color 0.1 ease-in-out;

  }

  .follow-button h4 {
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin-top: 0;
    line-height: 36px;
    letter-spacing: 0.5px;
    color: #0274B8;
  }

  .follow-button h4:hover {
    color: white;
  }

  .follow-button:hover {
    background-color: #0274bb;
    color: #fff;
    content: 'Following';
    cursor: pointer;
  }

  .user-profile_overview-div {
    width: 540px;
    margin: 0px auto;
    height: 60px;
  }

  .user-profile__overview {
    list-style: none;
    display: inline-block;
    padding-left: 0px;
  }

  .user-profile__overview h6 {
    font-family: 'Proxima Nova';
    font-weight: 400;
    font-size: 32px;
    line-height: 0px;
    color: #7a797a;
  }

  .user-profile__overview h4 {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 17px;
    color: #7a797a;
    margin-top: -50px;
    margin-bottom: 10px;
    text-align: center;
  }

  .user-profile__overview h4:hover{
    color: #696869;
    cursor: pointer;
  }

  .user-profile__overview li {
    float: left;
    width: 100px;
    text-align: center;
    margin-right: 40px;
    margin-left: 40px;
    border-bottom: solid 1px #0274B8;
    margin-top: -20px;
  }
  .projects-wrapper {
    position:relative;    
    top: 120px;
    width: 97%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2%;
    padding-right: 2%;
    clear:both;
    font-family: 'Proxima Nova';
  }
  .project-card {
    display: inline-block;
    width: 30%;
    height: 330px;
    margin-left:1.5%;
    margin-right:1.5%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0 3px 3px rgba(0,0,0,0.15);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
  }
  .project-img {
    width: 120%;
    height: 240px;
    overflow: hidden;
  }
  .project-info {
    display: block;
    position: relative;
    clear: both;
    height: 30px;
    width: 100%;
    margin-top: 2px;
    padding-right: 4%;
    transition: top 0.5s ease-in-out;
    font-size: 13px;
    text-align: right;
  }

  .project-overview {
    display: block;
    position: relative;
    width: 100%;
    margin-left: 3%;
    margin-right: 3%;
    height: 60px;
    border-bottom: 1px solid #ededed;
    margin: 0 auto;
  }

  .project-overview h4 {
    line-height: 0;
    margin-top: -35px;
    margin-left: 19%;
    font-size: 14px;
  }
  .project-overview h5 {
    line-height: 0;
    margin-top: 22px;
    margin-left: -8%;
    font-family: 'Proxima Nova';
    font-size: 14px;
  }

  .project-profile-pic {
    width: 46px;
    margin-top: 6px;
    margin-left: 5%
  }






  ul {
    list-style: none;
    padding:0;
    margin:0;
  }

  li {
    display: block;
    width: 30px;
  }

  .chat-footer {
    clear:both;
    position: fixed;
    bottom: 0px;
    height: 36px;
    width: 100%;
    font-family: 'Proxima Nova';
    background-color: #f9fcfd;
    transition: top 0.5s ease-in-out;
    box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.1);
  }


  .chat-levels {
    padding-left: 10px;
    padding-right: 0;
    margin:0;
    width:9%;
  }

  .chat-levels li {
    display: inline-block;
    cursor: pointer;
    padding-top: 6px;
    padding-bottom:5px;
    padding-left: 5px;
    color: #696869;
    font-weight: bold;
  }
   .chat-levels h3 {
    float:left;
    font-size: 26px;
    font-weight: bold;
    color: #7A797A;
    z-index: 100;
    margin-top: 0px;
    margin:0;
  }

  .chat-levels li:nth-child(1) {
    padding-right: 5px;
  }

  .chat-levels li:nth-child(3) {
    box-shadow: 1px 0 3px rgba(0, 0, 0, 0.1);
  }

 .chat-level-notification {
    color: #fff;
    width:8px;
    float:right;
    font-size: 9px;
    padding-left: 3px;
    margin-left: -4px;
    border-radius: 9px;
    background-color: #e74c3c;
    top:0;
    z-index: 1000;
  }

  .chat-level-space .chat-level-notification {
    margin-right:6px;
  }

  .chat-tab {
    position: fixed;
    height: 36px;
    bottom: 0;
    left: 8.5%;
    display: inline-block;
    float:right;
    width:92%;
    position-bottom: 0;
    z-index: 100;

  }

  .chat-tab li {
    display: inline-block;
    cursor: pointer;
    width:14%;
    color: #7A797A;
    font-weight: bold;
    box-shadow: 1px 0 3px rgba(0, 0, 0, 0.1);
    border-top-right-radius: 8px;
  }

  .chat-tab h4 {
    float:left;
    font-size: 14px;
    font-weight: 400;
    margin-top: 11px;
    padding-left: 8%;
    letter-spacing: 0.5px;
    color: #696869;
  }

  .tab-notification {
    color: #fff;
    width:9px;
    float:left;
    font-size: 9px;
    margin-top: 14px;
    margin-left: 8px;
    padding-left: 4.5px;
    border-radius: 2px;
    background-color: #e74c3c;
  }

  .close-tab {
    font-size: 14px;
    width: 13px;
    border-radius: 9px;
    margin-right: 5%;
    margin-top: 14px;
    padding-left:3px;
    font-weight: 400;
    float:right;
    color: #696869;
    opacity: 0.7;
  }

  .close-tab:hover {
    color:#343434;
    opacity: 1;
    font-weight: bold;
    transition: opacity 0.2s ease-in-out;
  }


/* COLLECTIONS */

  .collections-wrapper {
    position:relative;    
    top: 220px;
    width: 97%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2%;
    padding-right: 2%;
    clear:both;
    font-family: 'Proxima Nova';
  }

  .collection-featured {
    display: inline-block;
    width: 30%;
    height: 356px;
    margin-left:1.5%;
    margin-right:1.5%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);    
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
  }

  .collection-featured:hover {
    box-shadow: 0 1px 3px rgba(100, 80, 60);
    transition: box-shadow 0.5s ease-in-out;
  }
  .featured-img-collection {
    width: 100%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    height: 210px;
    overflow: hidden;
  }

  .featured-img-collection img, .project-img img {
    width:120%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
    clip: 0px 0px 30px 10px;
  }

  .featured-img-collection h3 {
    position:absolute;
    color: #fff;
    font-size: 28px;
    z-index: 100;
    margin-top: 80px;
    width:14%;
    margin-left: 6.5%;
    margin-right: 6.5%;
    text-align: center;
    letter-spacing: 1px;
  }

  .featured-img-collection p {
    position:absolute;
    color: #fff;
    font-size: 21px;
    font-weight: 400;
    z-index: 1000;
    margin-top: 110px;
    width:14%;
    margin-left: 6.5%;
    margin-right: 6.5%;
    text-align: center;
  }

  .featured-thumbnail-collection ul {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  }
  .featured-thumbnail-collection li {
    margin-top: 2px;
    width: 49.5%;
    display: inline-block;
    height: 120px;
    overflow: hidden;
  }

 .featured-thumbnail-collection li:last-child{
    float: right;
  }

 .featured-thumbnail-collection li img {
    width: 110%;
  }

 .collection-info {
    position: relative;
    clear: both;
    height: 28px;
    width: 100%;
    margin-top: -8px;
    padding-right: 2%;
    transition: top 0.5s ease-in-out;
    background-color: #f9fcfd;
    font-size: 13px;
    text-align: right;
 }

  .collection-info i, .collection-info p, .project-info i, .project-info p {
        display: inline-block;
        color: #696869;
        margin-top:7px;
        font-size: 14px;
  }

  .collection-info i, .project-info i {
    margin-left: 1%;
  }

   .collection-info p, .project-info i {
    margin-right: 3%;
   }