  body {
    text-rendering: optimizeLegibility;
    height: 2000px;
  }

  h1 {
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: 400;
    color: #595859;
  }
  
  header {
    height: 60px;
    width: 100%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    background-color: #F9FCFD; 
  }

  .ion-ios7-search-strong {
    font-size: 21px;
    color: #ADADAD;
    border: 1px solid #ADADAD;
    border-radius: 100%;
    width: 34px;
    height: 34px;
    line-height: 38px;
    text-align: center;
    float: right;
    margin-right: 10px;
    margin-top: 11px;
  }

  .ion-ios7-search-strong:hover {
    color: #0274B8;
    border: 1px solid #0274B8;
    cursor: pointer;
  }

  .ion-android-add {
    font-size: 14px;
    color: #ADADAD;
    border: 1px solid #ADADAD;
    border-radius: 100%;
    width: 34px;
    height: 34px;
    line-height: 38px;
    text-align: center;
    float: right;
    margin-right: 10px;
    margin-top: 11px;
  }

  .ion-android-add:hover {
    color: #0274B8;
    border: 1px solid #0274B8;
    cursor: pointer;
  }

  .profile-pic {
    width: 38px;
    height: 38px;
    float: right;
    margin-top: 11px;
    margin-right: 20px;
    opacity: 0.8;
  }
  .profile-pic:hover {
    opacity: 1;
    cursor: pointer;
  }
  .profile-pic--large {
    width: 170px;
    height: auto;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 100px;
    border: 4px solid #fff;
    border-radius: 100%;
  }
  .logo {
    width: 3.3%;
    height: auto;
    margin-top: 8px;
    margin-left: 20px;
    opacity: 0.8;
  }

  .logo:hover {
    cursor: pointer;
    opacity: 0.9;
  }

  .user-profile__hero {
    width: 100%;
    height: 190px;
    display: block;
    position: absolute;
    left: 0;
    top: 60px;
    background-color: #ededed;
  }

  .user-profile__info {
    position: relative;
    margin: 160px auto;
  }

  .user-profile__info h2 {
    text-align: center;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 22px;
    color: #696869;
    margin-top: 1px;
    letter-spacing: 0.1px;
  }

  .user-profile__info h5 {
    text-align: center;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 12px;
    color: #7a797a;
    margin-top: -18px;
    letter-spacing: 0.4px;
  }

  .user-profile__info h3 {
    text-align: center;
    font-family: 'Proxima Nova';
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #7a797a;
    margin-top: -8px;
    letter-spacing: 0.1px;
  }

  .follow-button {
    width: 160px;
    height: 40px;
    border: 2px solid #0274bb;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    transition: background-color 0.2s ease-in-out;
    color: #0274bb;

  }

  .follow-button h4 {
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    color: #0274bb;
    margin-top: 0;
    line-height: 40px;
    letter-spacing: 0.5px;
    transition: color 0.1s ease-in-out;
  }

  .follow-button:hover {
    background-color: #0274bb;
    content: 'Following';
    cursor: pointer;
  }

  .follow-button h4:hover {
    color: white;
  }

  .user-profile_overview-div {
    width: 540px;
    margin: 0px auto;
    height: 60px;
  }

  .user-profile__overview {
    list-style: none;
    display: inline-block;
    padding-left: 0px;
  }

  .user-profile__overview h6 {
    font-family: 'Proxima Nova';
    font-weight: 400;
    font-size: 32px;
    line-height: 0px;
    color: #7a797a;
  }

  .user-profile__overview h4 {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 17px;
    color: #7a797a;
    margin-top: -50px;
    margin-bottom: 10px;
    text-align: center;
  }

  .user-profile__overview h4:hover{
    color: #696869;
    cursor: pointer;
  }

  .user-profile__overview li {
    float: left;
    width: 100px;
    text-align: center;
    margin-right: 40px;
    margin-left: 40px;
    border-bottom: solid 1px #0274B8;
    margin-top: -20px;
  }
  .projects-container {
    display: inline-block;
    margin-top: 140px;
  }

  .projects-card {
    position: relative;
    width: 380px;
    height: 300px;
    border: solid 1px #ADADAD;
    border-radius: 7px;
    float: left;
    margin-left: 15px;
    margin-right: 20px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  }

  .project-img {
    width: 100%;
    height: auto;
  }

  .project-img img {
    width: 100%;
    height: auto;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
  }




  ul {
    list-style: none;
    padding:0;
    margin:0;
  }

  li {
    display: block;
    width: 30px;
  }

  .chat-footer {
    clear:both;
    position: fixed;
    bottom: 0px;
    height: 36px;
    width: 100%;
    font-family: 'Proxima Nova';
    background-color: #f9fcfd;
    transition: top 0.5s ease-in-out;
    box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.1);
  }


  .chat-levels {
    padding-left: 10px;
    padding-right: 0;
    margin:0;
    width:9%;
  }

  .chat-levels li {
    display: inline-block;
    cursor: pointer;
    padding-top: 6px;
    padding-bottom:5px;
    padding-left: 5px;
    color: #696869;
    font-weight: bold;
  }
   .chat-levels h3 {
    float:left;
    font-size: 26px;
    font-weight: bold;
    color: #7A797A;
    z-index: 100;
    margin-top: 0px;
    margin:0;
  }

  .chat-levels li:nth-child(1) {
    padding-right: 5px;
  }

  .chat-levels li:nth-child(3) {
    box-shadow: 1px 0 3px rgba(0, 0, 0, 0.1);
  }

 .chat-level-notification {
    color: #fff;
    width:8px;
    float:right;
    font-size: 9px;
    padding-left: 3px;
    margin-left: -4px;
    border-radius: 9px;
    background-color: #e74c3c;
    top:0;
    z-index: 1000;
  }

  .chat-level-space .chat-level-notification {
    margin-right:6px;
  }

  .chat-tab {
    position: fixed;
    height: 36px;
    bottom: 0;
    left: 8.5%;
    display: inline-block;
    float:right;
    width:92%;
    position-bottom: 0;
    z-index: 100;

  }

  .chat-tab li {
    display: inline-block;
    cursor: pointer;
    width:14%;
    color: #7A797A;
    font-weight: bold;
    box-shadow: 1px 0 3px rgba(0, 0, 0, 0.1);
    border-top-right-radius: 8px;
  }

  .chat-tab h4 {
    float:left;
    font-size: 14px;
    font-weight: 400;
    margin-top: 11px;
    padding-left: 8%;
    letter-spacing: 0.5px;
    color: #696869;
  }

  .tab-notification {
    color: #fff;
    width:9px;
    float:left;
    font-size: 9px;
    margin-top: 14px;
    margin-left: 8px;
    padding-left: 4.5px;
    border-radius: 2px;
    background-color: #e74c3c;
  }

  .close-tab {
    font-size: 14px;
    width: 13px;
    border-radius: 9px;
    margin-right: 5%;
    margin-top: 14px;
    padding-left:3px;
    font-weight: 400;
    float:right;
    color: #696869;
    opacity: 0.7;
  }

  .close-tab:hover {
    color:#343434;
    opacity: 1;
    font-weight: bold;
    transition: opacity 0.2s ease-in-out;
  }


/* COLLECTIONS */

  .collections-wrapper {
    position:relative;    
    top: 100px;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2%;
    padding-right: 2%;
    clear:both;
    font-family: 'Proxima Nova';
  }

  .collection-featured {
    display: inline-block;
    width: 28%;
    height: 314px;
    margin-left:2%;
    margin-right:2%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);    
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
  }

  .collection-featured:hover {
    box-shadow: 0 1px 3px rgba(100, 80, 60);
    transition: box-shadow 0.5s ease-in-out;
  }
  .featured-img-collection {
    width: 100%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    height: 185px;
    overflow: hidden;
  }

  .featured-img-collection img {
    width:100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
    clip: 0px 0px 30px 10px;
  }

  .featured-img-collection h3 {
    position:absolute;
    color: #fff;
    font-size: 28px;
    z-index: 100;
    margin-top: 80px;
    width:14%;
    margin-left: 6.5%;
    margin-right: 6.5%;
    text-align: center;
    letter-spacing: 1px;
  }

  .featured-img-collection p {
    position:absolute;
    color: #fff;
    font-size: 21px;
    font-weight: 400;
    z-index: 1000;
    margin-top: 110px;
    width:14%;
    margin-left: 6.5%;
    margin-right: 6.5%;
    text-align: center;
  }

  .featured-thumbnail-collection ul {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  }
  .featured-thumbnail-collection li {
    margin-top: 2px;
    width: 49%;
    display: inline-block;
    height: 100px;
    overflow: hidden;
  }

  .featured-thumbnail-collection li:first-child{
    margin-right: 1px;
  }

 .featured-thumbnail-collection li:last-child{
    margin-left: 1px;
  }

 .featured-thumbnail-collection li img {
    width: 100%;
  }

 .collection-info {
    bottom:inherit;
    position: relative;
    clear: both;
    height: 24px;
    width: 100%;
    margin-top: -8px;
    padding-right: 2%;
    transition: top 0.5s ease-in-out;
    background-color: #f9fcfd;
    font-size: 13px;
    text-align: right;
 }

  .collection-info i, .collection-info p {
        display: inline-block;
        color: #696869;
        margin-top:7px;
  }

  .collection-info i {
    margin-left: 1%;
  }

   .collection-info p {
    margin-right: 3%;
   }